<ng-container *ngIf="assos$ | async as result" [ngSwitch]="result.state">
  <ng-container *ngSwitchCase="dataStateTypeEnum.LOADING">
    <h3>Loading Assos...</h3>
  </ng-container>
  <ng-container *ngSwitchCase="dataStateTypeEnum.ERROR">
    <h3>Fetching Assos Error!</h3>
  </ng-container>
  <ng-container *ngSwitchCase="dataStateTypeEnum.SUCCESS">
    <tr *ngFor="let asso of result.data" >
      <ng-container *ngIf="asso.available">
        <th>{{asso.id}}</th>
        <td>{{asso.title}}</td>
        <td>{{asso.description}}</td>
      </ng-container>
    </tr>
  </ng-container>
</ng-container>
