<app-read-bar2></app-read-bar2>
<div class="container-md w-75 p-3">
  <table class="table table-hover">
    <thead align="center">
    <tr>
      <th>#</th>
      <th>Nom de la societé</th>
      <th>Description</th>
    </tr>
    </thead>
    <tbody align="center">
    <app-read-items2
      [items$]="items$" style="display: contents">
    </app-read-items2>
    </tbody>
  </table>
</div>


<!--
<div *ngIf="selectedItem">

  <h2>{{selectedItem.description | uppercase}} Details</h2>
  <div><span>ID: </span>{{selectedItem.id}}</div>
  <div>
    <label for="item-ref">Référence de l'item:</label>
    <input id="item-ref" [(ngModel)]="selectedItem.title" placeholder="title">
  </div>

</div>

!-->
